# Bazel
bazel-bin
bazel-out
bazel-testlogs
bazel-sstable*
.bazel_output
.bazelrc.user

# Logs
*.log

# Environment
.env
.envrc


# Go
*.exe
*.test




# Editor
.idea/
.vscode/
*.sw?

# OS
.DS_Store

# Coverage
lcov.info
coverage/
